*{
    box-sizing: border-box;
    margin:0;
    font-weight: lighter;
}
h1{
    font-size: 30px;
    font-family: 'Poiret One', cursive;
    color:white;
    text-align: center;
    position: relative;
    padding: 100px 0;
    background-image: url(../img/mobile/IMG_8304.jpg);
    background-size:cover;
}
nav ul li{
    list-style: none;
    display: block;
    text-align: center;
}
nav{
    border:20px solid black;
    background-color: black;
}

ul {
    padding: 0;
}
a{
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}
a:visited{
    color: grey;
}
a:hover{
    color: #af9f66;
    text-decoration: underline;
}
h2, h3{
    text-align: center;
    margin: 30px;
    font-size: 20px;
}
h2 div:first-child{
    color: #af9f66;
}
.button{
    border-radius: 30px;
    background-color: #af9f66;
    color:white;
    width: 100%;
    height: 45px;
    border: none;
}
.container {
    width:130px;
    margin: 0 auto;
}
.button:hover{
    color: #af9f66;
    background-color: white;
}
.p1{
    margin: 30px;
    text-align: center;
}
.p2 img{
    display:block; 
    margin: 50px auto;
}
.p3{
    text-align: center;
    padding:100px;
}
.p4 img{
    display:block; 
    margin: 50px auto;
    opacity:0.4;
}
.p4 img:hover{
    opacity:1;
}
h3 div:first-child{
    color: #af9f66;
}
.video{
    text-align: center;
    margin:100px auto;
}
footer a{
    display:block;
    text-align: center;
}
footer nav{
    margin-top: 50px;
}
h4{
    color:blue;
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXCONTACK*/
.map iframe{
    display: block;
    width: 100%;
}
.container2 {
    width:130px;
    margin:100px;
}
h5,h6,h7{
    margin-left: 30px;
}
h5,h8{
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 100px;
}
h6,h7,h9,h10{
    font-size: 1.5rem;
    padding-bottom:30px;
}
.con-pic{
    display:block;
    margin-top: 50px;
    margin-bottom: 150px;
}
form{
  background-color: ghostwhite;
  font-size:1rem;
  margin-bottom: 150px;
}
fieldset{
  border: none;
}
label{
  display: block;
}
input{
  padding: 0.5rem;
  margin-top: 1rem;
  width: 100%; 
}
label[for="message"]{
  margin-bottom: 1rem;
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXABOUT*/
.container3 {
    width:130px;
    margin: 100px auto;
}
h8,h9,h10{
   display: block;
}
.about{
    text-align: center;
}
.about-pic img{
    width: 100%;
    margin-top:10px; 
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
@media all and (min-width: 768px){
    h1{
        font-size: 40px;
        background-image: url(../img/desktop/IMG_8304.JPG);
        background-position: bottom;
    }
    nav ul li{
        display:inline-block;
        width: 32%;
    }
    h2, h3{
        margin: 70px;
        font-size: 30px;
}
    .p1{
        font-size: 1.5rem;
        margin: 70px;
}
    .p2 img{
        display:inline-block;
        width:45%;
        margin:1rem;
    }
    .img1{
       padding-bottom: 100px;
    }
    .p3{
        font-size: 2rem;
    }
    .p4 img{
        display: inline-block;
        width: calc(50% - 1rem);
        margin: 0.25rem;
    }
    .con-left{
        display: inline-block;
        margin-left: 50px;
        width: 45%;
    }
    form{
        display: inline-block;
        width: 45%;
        margin-left: 40px;
    }
h8,h9,h10{
   display: block;
}
.about{
    margin-left: 200px;
    margin-right: 200px;
}
.about-pic img{
    display:inline-block;
    width:33%;
    margin-bottom: 100px;
}
}
